<footer>
We used data from Kaggle to determine trends across the past 15 years of how and where crime is committed. Data from <a href="https://www.kaggle.com/christophercorrea/prisoners-and-crime-in-united-states"> Kaggle - Crime and Incarceration in the United States</a>
</footer>
