
<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<!-- Bootstrap CSS -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

<title>Crime and Punishment Datatable</title>
<meta name="author" content="You">
<meta name="description" content="Test">
<meta content="text/html" http-equiv="Content-type" />
<meta content="width=device-width, initial-scale=1" name="viewport" />

<!-- Load plotly.js into the DOM -->
<script src='https://cdn.plot.ly/plotly-2.6.3.min.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.17/d3.min.js'></script>

<style>
  .dropdown-menu {
    height: auto;
    max-height: 200px;
    overflow-x: hidden;
  }

  .userSelection {
    border: 5px outset black;
    margin: 10px;
    padding-left: 80px;
  }

  .graph {
    border: 5px outset black;
    margin: 10px;
    padding-left: 80px;
  }
</style>
