<!doctype html>
<html lang="en">
  <head>
    <%- include ('global/partials/header');  %>
  </head>
  <body>
    <%- include ('global/partials/navbar');  %>

    <main role="main" class="container">
    <br> <br>
    <br>
    <h1>Tracking Crime and Punishment</h1>
    <p>This is a cool project.</p>
    <br>

    <div id='mapDiv' style="width:1200px;height:600px;margin:auto;"><!-- Plotly chart will be drawn inside this DIV --></div>

    <h2>User Selections: </h2>
    <div class = "userSelection">
      <br>
      <label for="year-select">Year:</label>
      <select name="Years" id="year-select" onchange="generateMacroPlots()">
        <option value="2001-2016">2001-2016</option>
        <option value="2001">2001</option>
        <option value="2002">2002</option>
        <option value="2003">2003</option>
        <option value="2004">2004</option>
        <option value="2005">2005</option>
        <option value="2006">2006</option>
        <option value="2007">2007</option>
        <option value="2008">2008</option>
        <option value="2009">2009</option>
        <option value="2010">2010</option>
        <option value="2011">2011</option>
        <option value="2012">2012</option>
        <option value="2013">2013</option>
        <option value="2014">2014</option>
        <option value="2015">2015</option>
        <option value="2016">2016</option>
      </select>

      <br> <br>

      <label for="crime-select">Attribute/Crime:</label>
      <select name="Types of Crime" id="crime-select" onchange="generateMacroPlots()">
        <option value="prisoners_per_capita_per_one_hundred_thousand">Prisoner Count Per Capita</option>
        <option value="violent_crime_total">Violent Crime</option>
        <option value="murder_manslaughter_per_capita_per_one_hundred_thousand">Murders/Manslaughter Per Capita</option>
        <option value="rape_legacy_per_capita_per_one_hundred_thousand">Rape Legacy Per Capita</option>
        <option value="robbery_per_capita_per_one_hundred_thousand">Robbery Per Capita</option>
        <option value="agg_assault_per_capita_per_one_hundred_thousand">Aggrevated Assault Per Capita</option>
        <option value="property_crime_total">Property Crime</option>
        <option value="burglary_per_capita_per_one_hundred_thousand">Burglary Per Capita</option>
        <option value="larceny_per_capita_per_one_hundred_thousand">Larceny Per Capita</option>
        <option value="vehicle_theft_per_capita_per_one_hundred_thousand">Vehicle Theft Per Capita</option>
        <option value="total_crime_per_capita_per_one_hundred_thousand">Total Crime Per Capita</option>
        <!-- <option value="state_population">State Population</option> Must remove FED from state population -->
      </select>
    </div>


    <h2>Graphs:</h2>
  	<div id='macroCrimePieChart' class='graph'> </div>
  	<br>
  	<div id='lineBarMacro' class='graph' style="width:1200px;height:600px;"> </div>
  	<br>
  	<div id='table' class='graph' style="width:1200px;height:600px;"> </div>

    </main>
  <%- include ('global/partials/footer');  %>

</body>
<script src='/src/plotlyGenerator.js'></script>
<script>generateMacroPlots()</script>
</html>
