<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <title>Crime and Punishment Datatable</title>
  <meta name="author" content="You">
  <meta name="description" content="Test">
  <meta content="text/html" http-equiv="Content-type" />
  <meta content="width=device-width, initial-scale=1" name="viewport" />
</head>

<body>
  <header>
    <h1>Test</h1>
  </header>
  <section id="charcter-table">
    <table>
      <tr>
        <th>Jurisdiction</th>
        <th>Year</th>
        <th>Includes_jails</th>
        <th>Prisoner Count</th>
        <th>Crime Reporting Change</th>
        <th>Crimes Estimated</th>
        <th>State Population</th>
        <th>Violent Crime Total</th>
        <th>Murder Manslaughter</th>
        <th>Rape Revised</th>
        <th>Aggravated Assault</th>
        <th>Property Crime Total</th>
        <th>Burglary</th>
        <th>Larceny</th>
        <th>Vehicle Theft</th>
      </tr>
      
      <tr>
        <td>FEDERAL</td>
        <td>False</td>
        <td>2016</td>
        <td>188311</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      
      <tr>
        <td>ALABAMA</td>
        <td>False</td>
        <td>2016</td>
        <td>23745</td>
        <td>False</td>
        <td>False</td>
        <td>4860545.0</td>
        <td>25878.0</td>
        <td>407.0</td>
        <td>1915.0</td>
        <td>4687.0</td>
        <td>18869.0</td>
        <td>143259.0</td>
        <td>34045.0</td>
        <td>97498.0</td>
        <td>11716.0</td>
      </tr>
      
      <tr>
        <td>ALASKA</td>
        <td>True</td>
        <td>2016</td>
        <td>4378</td>
        <td>False</td>
        <td>False</td>
        <td>741522.0</td>
        <td>5966.0</td>
        <td>52.0</td>
        <td>1053.0</td>
        <td>850.0</td>
        <td>4011.0</td>
        <td>24876.0</td>
        <td>4053.0</td>
        <td>17766.0</td>
        <td>3057.0</td>
      </tr>
      
      <tr>
        <td>ARIZONA</td>
        <td>False</td>
        <td>2016</td>
        <td>42248</td>
        <td>False</td>
        <td>False</td>
        <td>6908642.0</td>
        <td>32542.0</td>
        <td>389.0</td>
        <td>3304.0</td>
        <td>7045.0</td>
        <td>21804.0</td>
        <td>207317.0</td>
        <td>38216.0</td>
        <td>150618.0</td>
        <td>18483.0</td>
      </tr>
      
      <tr>
        <td>ARKANSAS</td>
        <td>False</td>
        <td>2016</td>
        <td>15833</td>
        <td>False</td>
        <td>False</td>
        <td>2988231.0</td>
        <td>16563.0</td>
        <td>217.0</td>
        <td>2214.0</td>
        <td>2125.0</td>
        <td>12007.0</td>
        <td>98092.0</td>
        <td>23814.0</td>
        <td>67091.0</td>
        <td>7187.0</td>
      </tr>
      
      <tr>
        <td>CALIFORNIA</td>
        <td>False</td>
        <td>2016</td>
        <td>129416</td>
        <td>False</td>
        <td>False</td>
        <td>39296476.0</td>
        <td>174796.0</td>
        <td>1930.0</td>
        <td>13702.0</td>
        <td>54789.0</td>
        <td>104375.0</td>
        <td>1002070.0</td>
        <td>188304.0</td>
        <td>637010.0</td>
        <td>176756.0</td>
      </tr>
      
      <tr>
        <td>COLORADO</td>
        <td>False</td>
        <td>2016</td>
        <td>19486</td>
        <td>False</td>
        <td>False</td>
        <td>5530105.0</td>
        <td>19030.0</td>
        <td>189.0</td>
        <td>3635.0</td>
        <td>3525.0</td>
        <td>11681.0</td>
        <td>152146.0</td>
        <td>23825.0</td>
        <td>108680.0</td>
        <td>19641.0</td>
      </tr>
      
      <tr>
        <td>CONNECTICUT</td>
        <td>True</td>
        <td>2016</td>
        <td>15040</td>
        <td>False</td>
        <td>False</td>
        <td>3587685.0</td>
        <td>8169.0</td>
        <td>79.0</td>
        <td>791.0</td>
        <td>2711.0</td>
        <td>4588.0</td>
        <td>64875.0</td>
        <td>10107.0</td>
        <td>47642.0</td>
        <td>7126.0</td>
      </tr>
      
      <tr>
        <td>DELAWARE</td>
        <td>True</td>
        <td>2016</td>
        <td>6334</td>
        <td>False</td>
        <td>False</td>
        <td>952698.0</td>
        <td>4859.0</td>
        <td>58.0</td>
        <td>311.0</td>
        <td>1359.0</td>
        <td>3131.0</td>
        <td>26370.0</td>
        <td>5028.0</td>
        <td>19812.0</td>
        <td>1530.0</td>
      </tr>
      
      <tr>
        <td>FLORIDA</td>
        <td>False</td>
        <td>2016</td>
        <td>98010</td>
        <td>False</td>
        <td>False</td>
        <td>20656589.0</td>
        <td>88700.0</td>
        <td>1111.0</td>
        <td>7598.0</td>
        <td>20175.0</td>
        <td>59816.0</td>
        <td>553812.0</td>
        <td>100325.0</td>
        <td>410352.0</td>
        <td>43135.0</td>
      </tr>
      
      <tr>
        <td>GEORGIA</td>
        <td>False</td>
        <td>2016</td>
        <td>53433</td>
        <td>False</td>
        <td>False</td>
        <td>10313620.0</td>
        <td>40268.0</td>
        <td>682.0</td>
        <td>3381.0</td>
        <td>12114.0</td>
        <td>24091.0</td>
        <td>307305.0</td>
        <td>62715.0</td>
        <td>218127.0</td>
        <td>26463.0</td>
      </tr>
      
      <tr>
        <td>HAWAII</td>
        <td>True</td>
        <td>2016</td>
        <td>5182</td>
        <td>False</td>
        <td>False</td>
        <td>1428683.0</td>
        <td>3452.0</td>
        <td>35.0</td>
        <td>601.0</td>
        <td>985.0</td>
        <td>1831.0</td>
        <td>42353.0</td>
        <td>5983.0</td>
        <td>30871.0</td>
        <td>5499.0</td>
      </tr>
      
      <tr>
        <td>IDAHO</td>
        <td>False</td>
        <td>2016</td>
        <td>7221</td>
        <td>False</td>
        <td>False</td>
        <td>1680026.0</td>
        <td>3876.0</td>
        <td>49.0</td>
        <td>719.0</td>
        <td>213.0</td>
        <td>2895.0</td>
        <td>29357.0</td>
        <td>6318.0</td>
        <td>20962.0</td>
        <td>2077.0</td>
      </tr>
      
      <tr>
        <td>ILLINOIS</td>
        <td>False</td>
        <td>2016</td>
        <td>43616</td>
        <td>False</td>
        <td>False</td>
        <td>12835726.0</td>
        <td>56054.0</td>
        <td>1061.0</td>
        <td>5003.0</td>
        <td>17829.0</td>
        <td>32161.0</td>
        <td>263256.0</td>
        <td>48193.0</td>
        <td>195196.0</td>
        <td>19867.0</td>
      </tr>
      
      <tr>
        <td>INDIANA</td>
        <td>False</td>
        <td>2016</td>
        <td>25143</td>
        <td>False</td>
        <td>False</td>
        <td>6634007.0</td>
        <td>26516.0</td>
        <td>431.0</td>
        <td>2449.0</td>
        <td>7291.0</td>
        <td>16345.0</td>
        <td>168460.0</td>
        <td>33567.0</td>
        <td>120454.0</td>
        <td>14439.0</td>
      </tr>
      
      <tr>
        <td>IOWA</td>
        <td>False</td>
        <td>2016</td>
        <td>9049</td>
        <td>False</td>
        <td>False</td>
        <td>3130869.0</td>
        <td>9170.0</td>
        <td>73.0</td>
        <td>1278.0</td>
        <td>1150.0</td>
        <td>6669.0</td>
        <td>65888.0</td>
        <td>15306.0</td>
        <td>45580.0</td>
        <td>5002.0</td>
      </tr>
      
      <tr>
        <td>KANSAS</td>
        <td>False</td>
        <td>2016</td>
        <td>9653</td>
        <td>False</td>
        <td>False</td>
        <td>2907731.0</td>
        <td>11665.0</td>
        <td>132.0</td>
        <td>1618.0</td>
        <td>1757.0</td>
        <td>8158.0</td>
        <td>82293.0</td>
        <td>14759.0</td>
        <td>60119.0</td>
        <td>7415.0</td>
      </tr>
      
      <tr>
        <td>KENTUCKY</td>
        <td>False</td>
        <td>2016</td>
        <td>11867</td>
        <td>False</td>
        <td>False</td>
        <td>4436113.0</td>
        <td>10452.0</td>
        <td>265.0</td>
        <td>1748.0</td>
        <td>3371.0</td>
        <td>5068.0</td>
        <td>97713.0</td>
        <td>20932.0</td>
        <td>66833.0</td>
        <td>9948.0</td>
      </tr>
      
      <tr>
        <td>LOUISIANA</td>
        <td>False</td>
        <td>2016</td>
        <td>15059</td>
        <td>False</td>
        <td>False</td>
        <td>4686157.0</td>
        <td>26477.0</td>
        <td>555.0</td>
        <td>1819.0</td>
        <td>5575.0</td>
        <td>18528.0</td>
        <td>154511.0</td>
        <td>34689.0</td>
        <td>109492.0</td>
        <td>10330.0</td>
      </tr>
      
      <tr>
        <td>MAINE</td>
        <td>False</td>
        <td>2016</td>
        <td>2356</td>
        <td>False</td>
        <td>False</td>
        <td>1330232.0</td>
        <td>1649.0</td>
        <td>20.0</td>
        <td>413.0</td>
        <td>268.0</td>
        <td>948.0</td>
        <td>21908.0</td>
        <td>4001.0</td>
        <td>17131.0</td>
        <td>776.0</td>
      </tr>
      
      <tr>
        <td>MARYLAND</td>
        <td>False</td>
        <td>2016</td>
        <td>20236</td>
        <td>False</td>
        <td>False</td>
        <td>6024752.0</td>
        <td>29019.0</td>
        <td>536.0</td>
        <td>1827.0</td>
        <td>10815.0</td>
        <td>15841.0</td>
        <td>139716.0</td>
        <td>24832.0</td>
        <td>100995.0</td>
        <td>13889.0</td>
      </tr>
      
      <tr>
        <td>MASSACHUSETTS</td>
        <td>False</td>
        <td>2016</td>
        <td>9038</td>
        <td>False</td>
        <td>False</td>
        <td>6823721.0</td>
        <td>25975.0</td>
        <td>135.0</td>
        <td>2141.0</td>
        <td>5365.0</td>
        <td>18334.0</td>
        <td>106430.0</td>
        <td>19204.0</td>
        <td>79155.0</td>
        <td>8071.0</td>
      </tr>
      
      <tr>
        <td>MICHIGAN</td>
        <td>False</td>
        <td>2016</td>
        <td>41122</td>
        <td>False</td>
        <td>False</td>
        <td>9933445.0</td>
        <td>45782.0</td>
        <td>612.0</td>
        <td>7268.0</td>
        <td>7123.0</td>
        <td>30779.0</td>
        <td>190249.0</td>
        <td>39738.0</td>
        <td>130249.0</td>
        <td>20262.0</td>
      </tr>
      
      <tr>
        <td>MINNESOTA</td>
        <td>False</td>
        <td>2016</td>
        <td>9509</td>
        <td>False</td>
        <td>False</td>
        <td>5525050.0</td>
        <td>13365.0</td>
        <td>101.0</td>
        <td>2349.0</td>
        <td>3730.0</td>
        <td>7185.0</td>
        <td>117723.0</td>
        <td>18582.0</td>
        <td>90421.0</td>
        <td>8720.0</td>
      </tr>
      
      <tr>
        <td>MISSISSIPPI</td>
        <td>False</td>
        <td>2016</td>
        <td>13720</td>
        <td>False</td>
        <td>False</td>
        <td>2985415.0</td>
        <td>8411.0</td>
        <td>237.0</td>
        <td>1282.0</td>
        <td>2433.0</td>
        <td>4459.0</td>
        <td>82521.0</td>
        <td>23489.0</td>
        <td>54725.0</td>
        <td>4307.0</td>
      </tr>
      
      <tr>
        <td>MISSOURI</td>
        <td>False</td>
        <td>2016</td>
        <td>32427</td>
        <td>False</td>
        <td>False</td>
        <td>6091176.0</td>
        <td>31720.0</td>
        <td>538.0</td>
        <td>2557.0</td>
        <td>6576.0</td>
        <td>22049.0</td>
        <td>170661.0</td>
        <td>31716.0</td>
        <td>120649.0</td>
        <td>18296.0</td>
      </tr>
      
      <tr>
        <td>MONTANA</td>
        <td>False</td>
        <td>2016</td>
        <td>3199</td>
        <td>False</td>
        <td>False</td>
        <td>1038656.0</td>
        <td>3886.0</td>
        <td>37.0</td>
        <td>598.0</td>
        <td>268.0</td>
        <td>2983.0</td>
        <td>28156.0</td>
        <td>3966.0</td>
        <td>21427.0</td>
        <td>2763.0</td>
      </tr>
      
      <tr>
        <td>NEBRASKA</td>
        <td>False</td>
        <td>2016</td>
        <td>5167</td>
        <td>False</td>
        <td>False</td>
        <td>1907603.0</td>
        <td>5661.0</td>
        <td>49.0</td>
        <td>1108.0</td>
        <td>946.0</td>
        <td>3558.0</td>
        <td>43197.0</td>
        <td>6459.0</td>
        <td>32009.0</td>
        <td>4729.0</td>
      </tr>
      
      <tr>
        <td>NEVADA</td>
        <td>False</td>
        <td>2016</td>
        <td>13932</td>
        <td>False</td>
        <td>False</td>
        <td>2939254.0</td>
        <td>19924.0</td>
        <td>228.0</td>
        <td>1729.0</td>
        <td>6338.0</td>
        <td>11629.0</td>
        <td>75922.0</td>
        <td>18816.0</td>
        <td>43949.0</td>
        <td>13157.0</td>
      </tr>
      
      <tr>
        <td>NEW HAMPSHIRE</td>
        <td>False</td>
        <td>2016</td>
        <td>2599</td>
        <td>False</td>
        <td>False</td>
        <td>1335015.0</td>
        <td>2668.0</td>
        <td>19.0</td>
        <td>609.0</td>
        <td>431.0</td>
        <td>1609.0</td>
        <td>20323.0</td>
        <td>2989.0</td>
        <td>16454.0</td>
        <td>880.0</td>
      </tr>
      
      <tr>
        <td>NEW JERSEY</td>
        <td>False</td>
        <td>2016</td>
        <td>19458</td>
        <td>False</td>
        <td>False</td>
        <td>8978416.0</td>
        <td>21861.0</td>
        <td>378.0</td>
        <td>1454.0</td>
        <td>8940.0</td>
        <td>11089.0</td>
        <td>138012.0</td>
        <td>25229.0</td>
        <td>101459.0</td>
        <td>11324.0</td>
      </tr>
      
      <tr>
        <td>NEW MEXICO</td>
        <td>False</td>
        <td>2016</td>
        <td>6996</td>
        <td>False</td>
        <td>False</td>
        <td>2085432.0</td>
        <td>14585.0</td>
        <td>139.0</td>
        <td>1527.0</td>
        <td>2737.0</td>
        <td>10182.0</td>
        <td>81930.0</td>
        <td>17280.0</td>
        <td>52907.0</td>
        <td>11743.0</td>
      </tr>
      
      <tr>
        <td>NEW YORK</td>
        <td>False</td>
        <td>2016</td>
        <td>50611</td>
        <td>False</td>
        <td>False</td>
        <td>19836286.0</td>
        <td>74315.0</td>
        <td>629.0</td>
        <td>6281.0</td>
        <td>22310.0</td>
        <td>45095.0</td>
        <td>305224.0</td>
        <td>39850.0</td>
        <td>250990.0</td>
        <td>14384.0</td>
      </tr>
      
      <tr>
        <td>NORTH CAROLINA</td>
        <td>False</td>
        <td>2016</td>
        <td>35970</td>
        <td>False</td>
        <td>False</td>
        <td>10156689.0</td>
        <td>37767.0</td>
        <td>678.0</td>
        <td>2847.0</td>
        <td>9336.0</td>
        <td>24906.0</td>
        <td>277765.0</td>
        <td>72082.0</td>
        <td>190377.0</td>
        <td>15306.0</td>
      </tr>
      
      <tr>
        <td>NORTH DAKOTA</td>
        <td>False</td>
        <td>2016</td>
        <td>1639</td>
        <td>False</td>
        <td>False</td>
        <td>755548.0</td>
        <td>1905.0</td>
        <td>16.0</td>
        <td>356.0</td>
        <td>181.0</td>
        <td>1352.0</td>
        <td>17451.0</td>
        <td>3248.0</td>
        <td>12249.0</td>
        <td>1954.0</td>
      </tr>
      
      <tr>
        <td>OHIO</td>
        <td>False</td>
        <td>2016</td>
        <td>52172</td>
        <td>False</td>
        <td>False</td>
        <td>11622554.0</td>
        <td>35759.0</td>
        <td>683.0</td>
        <td>5754.0</td>
        <td>12574.0</td>
        <td>16748.0</td>
        <td>300945.0</td>
        <td>67081.0</td>
        <td>214102.0</td>
        <td>19762.0</td>
      </tr>
      
      <tr>
        <td>OKLAHOMA</td>
        <td>False</td>
        <td>2016</td>
        <td>26367</td>
        <td>False</td>
        <td>False</td>
        <td>3921207.0</td>
        <td>17855.0</td>
        <td>247.0</td>
        <td>2100.0</td>
        <td>3174.0</td>
        <td>12334.0</td>
        <td>118010.0</td>
        <td>29376.0</td>
        <td>76358.0</td>
        <td>12276.0</td>
      </tr>
      
      <tr>
        <td>OREGON</td>
        <td>False</td>
        <td>2016</td>
        <td>14579</td>
        <td>False</td>
        <td>False</td>
        <td>4085989.0</td>
        <td>10983.0</td>
        <td>116.0</td>
        <td>1784.0</td>
        <td>2307.0</td>
        <td>6776.0</td>
        <td>121716.0</td>
        <td>16919.0</td>
        <td>91507.0</td>
        <td>13290.0</td>
      </tr>
      
      <tr>
        <td>PENNSYLVANIA</td>
        <td>False</td>
        <td>2016</td>
        <td>48287</td>
        <td>False</td>
        <td>False</td>
        <td>12787085.0</td>
        <td>40389.0</td>
        <td>674.0</td>
        <td>4459.0</td>
        <td>12314.0</td>
        <td>22942.0</td>
        <td>222394.0</td>
        <td>35178.0</td>
        <td>174147.0</td>
        <td>13069.0</td>
      </tr>
      
      <tr>
        <td>RHODE ISLAND</td>
        <td>True</td>
        <td>2016</td>
        <td>2887</td>
        <td>False</td>
        <td>False</td>
        <td>1057566.0</td>
        <td>2529.0</td>
        <td>29.0</td>
        <td>445.0</td>
        <td>541.0</td>
        <td>1514.0</td>
        <td>18910.0</td>
        <td>3650.0</td>
        <td>14157.0</td>
        <td>1103.0</td>
      </tr>
      
      <tr>
        <td>SOUTH CAROLINA</td>
        <td>False</td>
        <td>2016</td>
        <td>20376</td>
        <td>False</td>
        <td>False</td>
        <td>4959822.0</td>
        <td>25137.0</td>
        <td>358.0</td>
        <td>2491.0</td>
        <td>4071.0</td>
        <td>18217.0</td>
        <td>161534.0</td>
        <td>33149.0</td>
        <td>114455.0</td>
        <td>13930.0</td>
      </tr>
      
      <tr>
        <td>SOUTH DAKOTA</td>
        <td>False</td>
        <td>2016</td>
        <td>3770</td>
        <td>False</td>
        <td>False</td>
        <td>861542.0</td>
        <td>3636.0</td>
        <td>28.0</td>
        <td>526.0</td>
        <td>274.0</td>
        <td>2808.0</td>
        <td>17207.0</td>
        <td>3002.0</td>
        <td>12705.0</td>
        <td>1500.0</td>
      </tr>
      
      <tr>
        <td>TENNESSEE</td>
        <td>False</td>
        <td>2016</td>
        <td>21539</td>
        <td>False</td>
        <td>False</td>
        <td>6649404.0</td>
        <td>42459.0</td>
        <td>495.0</td>
        <td>2803.0</td>
        <td>7829.0</td>
        <td>31332.0</td>
        <td>191199.0</td>
        <td>40607.0</td>
        <td>135353.0</td>
        <td>15239.0</td>
      </tr>
      
      <tr>
        <td>TEXAS</td>
        <td>False</td>
        <td>2016</td>
        <td>151276</td>
        <td>False</td>
        <td>False</td>
        <td>27904862.0</td>
        <td>121064.0</td>
        <td>1478.0</td>
        <td>13446.0</td>
        <td>33298.0</td>
        <td>72842.0</td>
        <td>769892.0</td>
        <td>148796.0</td>
        <td>552106.0</td>
        <td>68990.0</td>
      </tr>
      
      <tr>
        <td>UTAH</td>
        <td>False</td>
        <td>2016</td>
        <td>4502</td>
        <td>False</td>
        <td>False</td>
        <td>3044321.0</td>
        <td>7406.0</td>
        <td>74.0</td>
        <td>1560.0</td>
        <td>1528.0</td>
        <td>4244.0</td>
        <td>90561.0</td>
        <td>12938.0</td>
        <td>68261.0</td>
        <td>9362.0</td>
      </tr>
      
      <tr>
        <td>VERMONT</td>
        <td>True</td>
        <td>2016</td>
        <td>1735</td>
        <td>False</td>
        <td>False</td>
        <td>623354.0</td>
        <td>851.0</td>
        <td>14.0</td>
        <td>170.0</td>
        <td>78.0</td>
        <td>589.0</td>
        <td>9705.0</td>
        <td>1884.0</td>
        <td>7637.0</td>
        <td>184.0</td>
      </tr>
      
      <tr>
        <td>VIRGINIA</td>
        <td>False</td>
        <td>2016</td>
        <td>29882</td>
        <td>False</td>
        <td>False</td>
        <td>8414380.0</td>
        <td>18495.0</td>
        <td>482.0</td>
        <td>2830.0</td>
        <td>4826.0</td>
        <td>10357.0</td>
        <td>157292.0</td>
        <td>20159.0</td>
        <td>127285.0</td>
        <td>9848.0</td>
      </tr>
      
      <tr>
        <td>WASHINGTON</td>
        <td>False</td>
        <td>2016</td>
        <td>17228</td>
        <td>False</td>
        <td>False</td>
        <td>7280934.0</td>
        <td>22101.0</td>
        <td>195.0</td>
        <td>3133.0</td>
        <td>5649.0</td>
        <td>13124.0</td>
        <td>254994.0</td>
        <td>49249.0</td>
        <td>173423.0</td>
        <td>32322.0</td>
      </tr>
      
      <tr>
        <td>WEST VIRGINIA</td>
        <td>False</td>
        <td>2016</td>
        <td>5899</td>
        <td>False</td>
        <td>False</td>
        <td>1828637.0</td>
        <td>6633.0</td>
        <td>85.0</td>
        <td>684.0</td>
        <td>720.0</td>
        <td>5144.0</td>
        <td>37282.0</td>
        <td>9127.0</td>
        <td>25657.0</td>
        <td>2498.0</td>
      </tr>
      
      <tr>
        <td>WISCONSIN</td>
        <td>False</td>
        <td>2016</td>
        <td>23163</td>
        <td>False</td>
        <td>False</td>
        <td>5772917.0</td>
        <td>17716.0</td>
        <td>232.0</td>
        <td>2005.0</td>
        <td>4707.0</td>
        <td>10772.0</td>
        <td>111911.0</td>
        <td>19498.0</td>
        <td>82455.0</td>
        <td>9958.0</td>
      </tr>
      
      <tr>
        <td>WYOMING</td>
        <td>False</td>
        <td>2016</td>
        <td>2352</td>
        <td>False</td>
        <td>False</td>
        <td>584910.0</td>
        <td>1431.0</td>
        <td>20.0</td>
        <td>206.0</td>
        <td>59.0</td>
        <td>1146.0</td>
        <td>11460.0</td>
        <td>1771.0</td>
        <td>8889.0</td>
        <td>800.0</td>
      </tr>
      
    </table>
  </section>

</body>

</html>
